<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/Public/css/kube/css/kube.min.css"/>
    <title></title>
</head>
<body>
<div class="unit-50 unit-centered">
    <h1 style="margin-top: 20px;">打印机数据</h1>
</div>
<p></p>
<div class="unit-80 unit-centered">
    <div class="units-row">
        <div class="unit-20">
            {$printersNumLabel}
        </div>
        <div class="unit-80">
           <!-- <table>
                <thead>
                <tr>
                    <th>序号</th>
                    <th>编号</th>
                    <th>部门</th>
                    <th>打印机型号</th>
                </tr>
                </thead>
                <tbody>
                {$pNtbody}
                </tbody>
            </table>-->
        </div>
    </div>
    <div class="units-row">
        <div class="unit-20">
            {$printersCateNumLabel}
        </div>
        <div class="unit-80">
           <!-- <table>
                <thead>
                <tr>
                    <th>序号</th>
                    <th>型号</th>
                </tr>
                </thead>
                <tbody>
                {$pCNtbody}
                </tbody>
            </table>-->
        </div>
    </div>
    <div class="units-row">
        <div class="unit-20">
            {$suppliesCateNumLabel}
        </div>
        <div class="unit-80">
            <table>
                <thead>
                <tr>
                    <th>序号</th>
                    <th>型号</th>
                </tr>
                </thead>
                <tbody>
                {$sCNtbody}
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>