<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title></title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/Public/css/bootstrap/css/bootstrap.min.css" />
    <link rel="shortcut icon"  type="image/x-icon" href="/Public/images/favicon.ico" />
    <style>
        .ip{
            min-height: 300px;
            color: darkgray;
            font-size: 80px;
            line-height: 90px;
            letter-spacing: 5px;
            text-align: center;
        }
    </style>
</head>
<body>
<header>
    <div class="container">
        <h1>新制剂分厂</h1>
        <hr />
        <p>您的IP地址为：</p>
        <div class="ip">
            {$ip}
        </div>
    </div>
</header>

<footer>
    <div class="container">
        <hr />
        新制剂分厂·生产支持部 &copy; 王旭 2014
    </div>
</footer>
</body>
</html>