<!DOCTYPE html>
<html>
<head lang="zh">
    <meta charset="UTF-8">
    <title>testBlue</title>
    <link rel="stylesheet" type="text/css" href="/Public/css/bootstrap/css/bootstrap.min.css" />
</head>
<body>

<div style="position: fixed;width: 800px;left:392px;margin: 20px auto 10px;height: 20px;text-align: center;">
    <div style="background-color: #CCCCCC;width: 50px;float: left;">1</div>
    <div style="background-color: #CCCCCC;width: 50px;float: left;">2</div>
    <div style="background-color: #CCCCCC;width: 50px;float: left;">3</div>
    <div style="background-color: #CCCCCC;width: 50px;float: left;">4</div>
    <div style="background-color: #CCCCCC;width: 50px;float: left;">5</div>
    <div style="background-color: #CCCCCC;width: 50px;float: left;">6</div>
    <div style="background-color: #CCCCCC;width: 50px;float: left;">7</div>
    <div style="background-color: #CCCCCC;width: 50px;float: left;">8</div>
    <div style="background-color: #CCCCCC;width: 50px;float: left;">9</div>
    <div style="background-color: #CCCCCC;width: 50px;float: left;">10</div>
    <div style="background-color: #CCCCCC;width: 50px;float: left;">11</div>
    <div style="background-color: #CCCCCC;width: 50px;float: left;">12</div>
    <div style="background-color: #CCCCCC;width: 50px;float: left;">13</div>
    <div style="background-color: #CCCCCC;width: 50px;float: left;">14</div>
    <div style="background-color: #CCCCCC;width: 50px;float: left;">15</div>
    <div style="background-color: #CCCCCC;width: 50px;float: left;">16</div>
</div>
<div class="container">
    <div style="width: 800px;margin: 50px auto;">
        {$table}
    </div>
</div>
</body>
</html>