<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>新制剂工厂公示系统</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/Public/css/bootstrap/css/bootstrap.min.css" />
    <link rel="shortcut icon"  type="image/x-icon" href="/Public/images/favicon.ico" />
    <style>
        h1{
            font-weight: bold;
        }
        a{
            color: #000000;
        }
        .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
            border: 0;
        }
    </style>
</head>
<body>
<header>
    <div class="container">
        <h1>新制剂工厂公示系统</h1>
        <p>   </p>
    </div>
</header>
<div class="container" style="min-height: 500px;">
    <p>
    <h3>最新公示</h3>
    <hr />
    </p>
    <table class="table">
        <tbody>
        <tr>
            <td><a target="_blank" href="/OA/Index/show"><h3 style="float: left;">申报专业技术职务任职资格的公示</h3></a><span class="label label-success">新</span></td>
            <td style="color: #999;vertical-align: middle;">2014年8月26日</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <ul class="pagination">
        <li class="disabled"><a href="#">&laquo;</a></li>
        <li class="active"><a href="#">1</a></li>
        <li class="disabled"><a href="#">&raquo;</a></li>
    </ul>
</div>
<footer>
    <div class="container">
        <hr />
        新制剂工厂·生产支持部 &copy; 王旭 2014
    </div>
</footer>
</body>
</html>