<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title></title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/Public/css/bootstrap/css/bootstrap.min.css" />
    <link rel="shortcut icon"  type="image/x-icon" href="/Public/images/favicon.ico" />
</head>
<body>
<header>
    <div class="container-fluid">
        <h1 style="font-weight: bold;">新制剂工厂公示系统</h1>
        <p>   </p>
    </div>
</header>
<div class="container">
    <img src="/Public/images/zb1.jpg" alt="公示表" title="公示表" />
    <img src="/Public/images/zb2.jpg" alt="公示表" title="公示表" />
    <img src="/Public/images/zb3.jpg" alt="公示表" title="公示表" />
    <hr />
    <h1>申报人员名单：</h1>
    <table class="table">
        <thead>
        <tr>
            <th>姓名</th>
            <th>申报资料</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>王储</td>
            <td><a href="/Html/wangchu.html" target="_blank">申报资料</a></td>
        </tr>
        <tr>
            <td>苗晓革</td>
            <td><a href="/Html/miaoxiaoge.html" target="_blank">申报资料</a></td>
        </tr>
        <tr>
            <td>李源</td>
            <td><a href="/Html/liyuan.html" target="_blank">申报资料</a></td>
        </tr>
        <tr>
            <td>岳素红</td>
            <td><a href="/Html/yuesuhong.html" target="_blank">申报资料</a></td>
        </tr>
        <tr>
            <td>卢春莉</td>
            <td><a href="/Html/luchunli.html" target="_blank">申报资料</a></td>
        </tr>
        <tr>
            <td>关耀</td>
            <td><a href="/Html/guanyao.html" target="_blank">申报资料</a></td>
        </tr>
        <tr>
            <td>路立红</td>
            <td><a href="/Html/lulihong.html" target="_blank">申报资料</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>